@import './style/colors.css';

@import './style/clock.css';
@import './style/audio.css';
@import './style/network.css';
@import './style/bluetooth.css';
@import './style/battery.css';
@import './style/workspaces.css';
@import './style/backlight.css';
@import './style/privacy.css';
@import './style/tray.css';
@import './style/hardware.css';

* {
    font-size: 14px;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
}

window#waybar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    color: @text;
}

tooltip {
    border-radius: 3px;
    opacity: 1;
    background-color: @base;
    border: 2px solid @overlay;
    color: @text;
}

/* Groups */

window#waybar > box > box > * > *:not(#workspaces) {
    background: transparent;
    border-radius: 0px;
    padding: 2px 6px;
}

/* Spacing between groups */
