@import './style/colors.css';

@import './style/clock.css';
@import './style/audio.css';
@import './style/network.css';
@import './style/bluetooth.css';
@import './style/battery.css';
@import './style/workspaces.css';
@import './style/backlight.css';
@import './style/privacy.css';
@import './style/tray.css';
@import './style/hardware.css';
@import './style/power.css';

* {
    font-size: 14px;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
}

window#waybar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 100%);
    color: @text;
}

tooltip {
    border-radius: 11px;
    opacity: 1;
    background-color: @base;
    border: 1.5px solid @overlay;
}

tooltip > box {
    color: @text;
    padding: 1px 6px;
}

/* Groups */

window#waybar > box > box > * > * {
    background: @base;
    padding: 1px 6px;
    border: 1.5px solid @overlay;
    border-radius: 11px;
    margin: 2px;
    box-shadow: #000 0px 0px 2px;
}

/* Spacing between groups */
