#custom-hardware-icon {
    color: @iris;
}

#cpu {
    color: @iris;
    margin-right: 4px;
}

#memory {
    color: @iris;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 0.7rem;
}

#temperature {
    color: @love;
}

#idle_inhibitor {
    margin-right: 4px;
    min-width: 18px;
}

#idle_inhibitor.activated {
    color: @rose;
}

#systemd-failed-units {
    color: @love;
}
