
#privacy-item.audio-in {
    color: @iris;
}

#privacy-item.audio-out {
    color: @iris;
}

#privacy-item.screenshare {
    color: @iris;
}

#custom-camera {
    color: @iris;
    margin-right: 4px;
}
