#tray {
    margin-right: 2px;
}

#tray menu {
    background: @base;
    color: @text;
    border: 2px solid @overlay;
    border-radius: 11px;
    padding: 6px;
}

#tray menu menuitem {
    border-radius: 8px;
    padding: 0px;
}

#tray menu separator {
    background: @overlay;
}
