#workspaces button {
    padding: 0px 2px;
    color: @subtle;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    box-shadow: none;
}

#workspaces button label {
    font-size: 10px;
}

#workspaces button.active label {
    font-size: 16px;
}

#workspaces button.active,
#workspaces button:hover.active {
    color: @text;
}

#workspaces button:hover {
    border: none;
    background: unset;
}

#workspaces button.urgent {
    color: @love;
}
